fastapi
uvicorn
streamlit
requests

langchain==0.1.20
langchain-community
langchain-openai
langchain-google-genai
langchain_groq
langgraph
python-multipart
faiss-cpu
sentence-transformers
pypdf
python-dotenv
